<!DOCTYPE html>
<html>
<head>
    <title>Sondaj Problema Deseuri</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header>
        <h1>Îți pasă de gestionarea deșeurilor din Târgu Jiu? Completează formularul și spune-ți părerea!</h1>
    </header>

    <main>
        <form id="question-form" action="/submit" method="POST">
            <div class="form-group">
                <label for="name">Nume:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="username">Prenume:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group" id="questions">
                <h2>Intrebari</h2>

                <div class="question">
                    <label for="question-1">Intrebarea 1: </label>
                    <input type="text" id="question-1" name="q" value="Credeți că autoritățile locale din Târgu Jiu gestionează adecvat problema deșeurilor?" readonly>
                    <input type="text" id="answer-1" name="userData[1]" required>
                </div>

                <div class="question">
                    <label for="question-2">Intrebarea 2: </label>
                    <input type="text" id="question-2" name="q" value="Sunteți de acord cu măsurile luate de autorități pentru a reduce cantitatea de deșeuri generate de oraș?" readonly>
                    <input type="text" id="answer-2" name="userData[2]" required>
                </div>

                <div class="question">
                    <label for="question-3">Intrebarea 3: </label>
                    <input type="text" id="question-3" name="q" value="Credeți că publicul este suficient de informat cu privire la modul în care trebuie să gestioneze deșeurile?" readonly>
                    <input type="text" id="answer-3" name="userData[3]" required>
                </div>

                <div class="question">
                    <label for="question-4">Intrebarea 4:</label>
                    <input type="text" id="question-4" name="q" value="Sunteți mulțumit/mulțumită cu numărul de coșuri de gunoi?" readonly>
                    <input type="text" id="answer-4" name="userData[4]" required>
                </div>

                <div class="question">
                    <label for="question-5">Intrebarea 5:</label>
                    <input type="text" id="question-5" name="q" value="Credeți că Târgu Jiu ar trebui să adopte o politică de reducere a cantității de ambalaje din plastic utilizate în oraș?" readonly>
                    <input type="text" id="answer-5" name="userData[5]" required>
                </div>
            </div>

            <button type="submit" class="my-submit-button">Submit</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2023 Cetateanul Targu Jiu. All rights reserved.</p>
    </footer>

    <script src="../script.js"></script>
</body>
</html>